{% load static %}
<div class="col-lg-4">   
    {% for top_post in top_posts %} 
    <div class="trand-right-single d-flex">        
        <div class="trand-right-img">
            <img src="{{top_post.featured_image.url}}" alt="" width="150px">
        </div>
        
        <div class="trand-right-cap">
            <span class="color1">{{top_post.category.name}}</span>
            <h4><a href="details.html">{{top_post.title}}</a></h4>
        </div>
    </div>
    {% endfor %}      
    
    
</div>