{% extends "News_template/base.html" %}

{% block content %}

  <main>
   
       
   

<main>
    {% include "body/trending.html" %}

   <!-- Whats New Start -->
    
    <!-- Whats New End -->
    <!--   Weekly2-News start -->
    {% include "body/weekly.html" %}
    <!-- End Weekly-News -->
  
    <!--  Recent Articles start -->
    {% include "body/recent.html" %}          
    <!--Recent Articles End -->
    <!--Start pagination -->
    
    <!-- End pagination  -->
    </main>
    
 
       <!-- Footer Start-->
        
        
       <!-- footer-bottom aera -->
       
       <!-- Footer End-->
 
{% endblock content %}
	
	
